{% embed 'partials/base.html.twig' %}

	{% block content %}
		<div class="logo-item">
			<a href="{{ page.url }}">link</a>
			{% for imagesuploaded in page.header.header_image_file %}
					{{ page.media[imagesuploaded.name] }}
			{% endfor %}
		</div>
	{% endblock %}

{% endembed %}
