<header class="global-header">
  <div class="limiter">
    <div class="global-logo">
      <a href="/grav">BAE</a>
    </div>
    <div class="main-nav">
      <ul class="navigation">
        <li class="active">
          <a href="/grav">
            Inicio
          </a>
        </li>
        <li class="">
          <a href="/grav/que-es-bae">
            ¿Qué es BAE?
          </a>
        </li>
        <li class="">
          <a href="/grav/como-aplicar">
            Como aplicar
          </a>
        </li>
        <li class="">
          <a href="/grav/landing-de-categorias">
            Categorías
          </a>
        </li>
        <li class="">
          <a href="/grav/galardonados">
            Galardonados
          </a>
        </li>
        <li class="">
          <a href="/grav/casos-de-exito">
            Casos de éxito
          </a>
        </li>
        <li class="">
          <a href="/grav/contacto">
            Contacto
          </a>
        </li>
      </ul>

      <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
    </div>
  </div>
</header>
